<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DesarrolloEvaluativo</title>
</head>
<body>


  <section class="hero" id="hero1">
    <div class="inner1">
    <div class="copyv">
    <img src="https://1.bp.blogspot.com/-lr_zG41SjV8/XoY7H96EzbI/AAAAAAAABHw/qhgoS6lrSQs8P1bmwINZbmZyc1m2_lT_ACLcBGAsYHQ/s1600/2222222222222.png">
    </div>
    </div>
    </section>


<br><br>

<section class="price container">
  <h2 class="subtitle">Obtén los mejores juegos a precios de pelicula</h2>

  <div class="price_table">
      <div class="price_element">
          <p class="price_name">Prueba</p>
          <h3 class="price_price">1 Mes Gratis</h3>

          <div class="price_items">
              <p class="price_features">5 Juegos</p>
              <p class="price_features">Sin Acceso Multijugador</p>
              <p class="price_features">Sin Eleccion de Juegos</p>
          </div>

          <a href="precio" class="price_cta">Prueba Ahora</a>
      </div>

      <div class="price_element">
          <p class="price_name">Profesional</p>
          <h3 class="price_price">$2000/mes</h3>

          <div class="price_items">
              <p class="price_features">100 Juegos</p>
              <p class="price_features">Acceso Multijugador</p>
              <p class="price_features">Sin Eleccion de Juegos</p>
          </div>

          <a href="precio" class="price_cta">Compra Ahora</a>
      </div>

      <div class="price_element">
          <p class="price_name">Clase Mundial</p>
          <h3 class="price_price">$3000/mes</h3>

          <div class="price_items">
              <p class="price_features">+ de 200 Juegos</p>
              <p class="price_features">Acceso Multijugador sin coste</p>
              <p class="price_features">Elige los Mejores VideoJuegos</p>
          </div>

          <a href="precio" class="price_cta">Compra Ahora</a>
      </div>

  </div>
</section>
<br><br><br>

<footer id="copyright">
  <div id="copy">
  <p>Copyright © 2022
  </p>
  </div>
  <div class="clear"></div>
  </footer>
</body>
</html>
